README.md
.gitignore
**/*.class
.env
Dockerfile
Dockerfile.archive
docker-compose.yml
.idea/
.idea_modules/
.git
.DS_Store
*.iml
*.ipr
*.iws
CONTRIBUTING.md
README.md
out/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
